body{
    background-color:#ff7e15;
    margin: 0 0 0 0;


.contenedor{
        display: flex;
        flex-direction: column;
        max-width: 95%;
        margin: 0 auto;
        height: 100%;
}    
.nav {
    background-color:#c0a345;
    margin-top:0;
    height:31px;
}

.nav ul{
    display:flex;
    justify-content:space-around;
}

.nav ul li{
    color:white;
    list-style:none;
    display: flex;
    padding-bottom:7px;
    padding-left: 25px;
    padding-right: 25px;
}


.nav ul li a{
    color:white;
    text-decoration: none;
}

.nav ul li a:hover{
    cursor:pointer;
    background-color: rgb(126, 101, 48);
    transition: .2s ease-in;
}

